@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
@import 'variables';

/* General */

body {
    color: $base-color;
    font: 16px 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

button {
    background: none;
    border: 0;
    cursor: pointer;
}

.btn {
    background-color: $base-color;
    border: 1px solid $base-color;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    transition: .5s all;

    &:hover,
    &.secondary {
        background-color: white;
        color: $base-color;
    }

    &.secondary {
        &:hover {
            background-color: $base-color;
            color: white;
        }
    }  
}

ul {
    list-style: none;
    padding: 0;

    li {
        align-items: center;
        border: 1px solid $border;
        border-radius: 10px;
        display: flex;
        font-weight: 600;
        justify-content: space-between;
        margin-bottom: 10px;
        padding: 10px;

        &.checked {
            border-color: $green-bk;
        }

        h3 {
            margin: 0 0 10px;
        }

        .cat {
            background-color: $primary-color;
            border-radius: 10px;
            color: white;
            display: inline-block;
            font-size: 13px;
            font-weight: 600;
            padding: 5px;
        }
    }
}

.btn-label {
    align-items: center;
    background-color: $border;
    border-radius: 10px;
    display: inline-flex;
    padding: 5px;

    &.checked {
        background-color: $green-bk;
    }

    svg {
        margin-left: 5px;
    }
}
/* Header */

header {
    background-color: $primary-color-bk;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;

    .btn.secondary {
        border-color: $primary-color-bk;

        &:hover {
            background-color: white;
            color: $primary-color-bk;
        }
    }
}

/* Main */

main {
    padding: 10px
}