@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
@import 'variables';

/* General */
html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
            box-sizing: inherit;
}

body {
    color: $base-color;
    font: 16px 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

button {
    background: none;
    border: 0;
    cursor: pointer;
}

.btn {
    background-color: $base-color;
    border: 1px solid $base-color;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    transition: .25s all;

    &:hover,
    &.secondary {
        background-color: white;
        color: $base-color;
    }

    &.secondary {
        &:hover {
            background-color: $base-color;
            color: white;
        }
    }  
}

ul {
    list-style: none;
    padding: 0;

    li {
        align-items: center;
        border: 1px solid $border;
        border-radius: 10px;
        display: flex;
        font-weight: 600;
        justify-content: space-between;
        margin-bottom: 10px;
        padding: 10px;

        &.checked {
            border-color: $green-bk;
        }

        h3 {
            margin: 0 0 10px;
        }

        .cat {
            background-color: $primary-color;
            border-radius: 10px;
            color: white;
            display: inline-block;
            font-size: 13px;
            font-weight: 600;
            padding: 5px 10px;
            text-transform: capitalize;
        }
    }
}

.btn-label {
    align-items: center;
    background-color: $grey-bk;
    border-radius: 10px;
    display: inline-flex;
    padding: 5px 10px;

    &.checked {
        background-color: $green-bk;
    }

    svg {
        margin-left: 5px;
    }
}

/* Form */

label {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
}

textarea,
select {
    border-color: $border;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}

select {
    cursor: pointer;
}

.coloredText {
    color: $primary-color;
}

/* Header */

header {
    background-color: $primary-color-bk;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;

    .btn.secondary {
        border-color: $primary-color-bk;

        &:hover {
            background-color: white;
            color: $primary-color;
        }
    }
}

/* Main */

main {
    padding: 10px
}

/* Modal */
.backdrop {
    background: rgba(0,0,0,0.65);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.modal {
    background-color: white;
    border-radius: 10px;
    left: 50%;
    max-width: 400px;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    z-index: 2;
}